/* Last edited by Emily Mason on 12/15 */
.tabback{
    background-image: url('../assets/images/tabback.jpeg');
    background-position: top;
}

/* head{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: rgb(1, 1, 41);
    background-color: rgb(253, 198, 192);
} */

.headstyle{
    text-align: center;
    color: rgb(1, 1, 56);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
}

body {
    background-color: #555555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footerstyle{
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.p1{
    font-size: 16px;
    color: white;
}

.p2{
    font-size: 16px;
    color:rgb(1, 1, 56);
    font-weight: 100;
}

.p3{
    text-align: center;
    font-size: small;
    color: #6c757d;
    font-style: italic;
}

.caption{
    text-align: center;
    font-size: 20px;
    color: rgb(1, 1, 59);
    font-style: italic;
}

span{
    display:table;
    margin:0 auto;
}


/* Layout */
.common{
    /* background-color: #CCCCCC; */
    position: absolute;
}

.header{
    top: 30px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.mainbody{
    top: 150px;
    bottom: 120px; 
    height: 3250px;
    left: 150px;
    right: 150px;
}

.footer{
    top: 3420px;
    bottom: 5px;
    height: 100px;
    left: 5px;
    right: 5px;
}