h1{
    text-align: center;
 }

 .italic{
     font-style: italic;
 }

 .p1{
     text-align: center;
     color: white;
     font-size: 30px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .p2{
    text-align: center;
    color: rgb(56, 53, 53);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p3{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

body{
    background-color: rgb(253, 198, 192);
}

.centering{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resumeListHeading {
    font-weight: bold;
    font-style: Normal;
    color:rgb(1, 1, 59);
}

.whitefont{
    color: white;
}

.resumeListBody{
    font-weight: normal;
    color: rgb(56, 53, 53)
}